
	* {
		padding : 0 ;
		margin : 0 ;
	}

	body {
		font-family: arial;
		padding : 10px ;
	}

	#login {
		margin-bottom : 10px ;
		border : 1px solid #ccc ;
		background : #eee ;
		border-radius: 10px;
		padding : 10px ;
	}

		#login input {
			font-size: 2em;
		}

	.table-fancytree {

	}

		.table-fancytree thead {
			display : none;
		}

		.table-fancytree a, .table-fancytree .no-link  {
			display : block;
			text-align: center ;
			color : #ccc ;
		}

		.table-fancytree a {
			font-size : 0.8em ;
			padding : 2px 5px ;
			margin : 2px ;
			border-radius : 4px ;
			border : 1px solid rgba(0,0,0,0.1);
			color : #666 ;
			text-decoration: none;
			text-shadow : 1px 1px 1px #fff;

			background: #e2e2e2; /* Old browsers */
			background: -moz-linear-gradient(top,  #e2e2e2 0%, #dbdbdb 50%, #d1d1d1 51%, #fefefe 100%); /* FF3.6+ */
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e2e2e2), color-stop(50%,#dbdbdb), color-stop(51%,#d1d1d1), color-stop(100%,#fefefe)); /* Chrome,Safari4+ */
			background: -webkit-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Chrome10+,Safari5.1+ */
			background: -o-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* Opera 11.10+ */
			background: -ms-linear-gradient(top,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* IE10+ */
			background: linear-gradient(to bottom,  #e2e2e2 0%,#dbdbdb 50%,#d1d1d1 51%,#fefefe 100%); /* W3C */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e2e2e2', endColorstr='#fefefe',GradientType=0 ); /* IE6-9 */
		}

		.table-fancytree .no-link {
			padding : 0 10px ;
		}


	#test-views {
		margin : 10px 0 ;
		background : #eee ;
		padding : 10px ;
		text-align: center;
		border-radius: 10px;
	}

	#test-views-result {
		background : #efe ;
		margin-bottom: 10px ;
		border-radius: 5px ;
		padding : 10px ;
		overflow : auto ;
	}

	#test-views input {
		display : inline-block ;
		width : 48% ;
	}

	#test-views textarea {
		width : 96% ;
	}

	#test-views-result.view-error {
		color : #c00 ;
		background-color: #fee;
	}